@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@font-face {
  font-family: 'RIDIBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}

article {
  font-family: 'RIDIBatang', 'Nanum Gothic', serif;
  color: #555;
}

article header h1 {
  font-family: 'RIDIBatang', 'Nanum Gothic', serif;
  color: #62b0b9;
}

article p {
  font-size: 16px;
  font-family: 'RIDIBatang', 'Nanum Gothic', serif;
  color: #666;
}